@font-face {
  font-family: 'Chromatica';
  src: url('../fonts/Chromatica-Thin.eot');
  src: url('../fonts/Chromatica-Thin.woff2') format('woff2'),
       url('../fonts/Chromatica-Thin.woff') format('woff'),
       url('../fonts/Chromatica-Thin.ttf') format('truetype'),
       url('../fonts/Chromatica-Thin.svg#Chromatica-Thin') format('svg'),
       url('../fonts/Chromatica-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: thin;
}
@font-face {
  font-family: 'Chromatica';
  src: url('../fonts/Chromatica-Bold.eot');
  src: url('../fonts/Chromatica-Bold.woff2') format('woff2'),
       url('../fonts/Chromatica-Bold.woff') format('woff'),
       url('../fonts/Chromatica-Bold.ttf') format('truetype'),
       url('../fonts/Chromatica-Bold.svg#Chromatica-Thin') format('svg'),
       url('../fonts/Chromatica-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: bold;
}
@font-face {
  font-family: 'Chromatica';
  src: url('../fonts/Chromatica-Regular.eot');
  src: url('../fonts/Chromatica-Regular.woff2') format('woff2'),
       url('../fonts/Chromatica-Regular.woff') format('woff'),
       url('../fonts/Chromatica-Regular.ttf') format('truetype'),
       url('../fonts/Chromatica-Regular.svg#Chromatica-Thin') format('svg'),
       url('../fonts/Chromatica-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Chromatica';
  src: url('../fonts/Chromatica-Medium.eot');
  src: url('../fonts/Chromatica-Medium.woff2') format('woff2'),
       url('../fonts/Chromatica-Medium.woff') format('woff'),
       url('../fonts/Chromatica-Medium.ttf') format('truetype'),
       url('../fonts/Chromatica-Medium.svg#Chromatica-Thin') format('svg'),
       url('../fonts/Chromatica-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'Chromatica';
  src: url('../fonts/Chromatica-Light.eot');
  src: url('../fonts/Chromatica-Light.woff2') format('woff2'),
       url('../fonts/Chromatica-Light.woff') format('woff'),
       url('../fonts/Chromatica-Light.ttf') format('truetype'),
       url('../fonts/Chromatica-Light.svg#Chromatica-Thin') format('svg'),
       url('../fonts/Chromatica-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: light;
}