/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

 body{
    font-family: 'Chromatica', 'Helvetica', sans-serif;
    transition: all 0.1s ease-in;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

 p{
    /* opacity: 0.77; */
    font-family: Chromatica;
    font-size: 1rem;
    color: rgba(34,34,34, 0.8);
    letter-spacing: -0.12px;
    line-height: 1.618;
 }
 h1,h2,h3,h4,h5,h6{
     color: #252526;
     /* line-height: 1.618; */
 }

 .top-8\/10{
    top: 80%;
 }

 .decoration-none{
     text-decoration: none;
 }


 


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
.decoration-none{
    text-decoration: none;
}


/* Customer grid classes */
.row{
    @apply .relative;
}

/* section{
    position: relative !important;
    z-index: 0 !important;
} */

@media only screen and (min-width: 320px){
    .row{
        @apply .px-4;
    }
}
@media only screen and (min-width: 640px){
    .row{
        @apply .px-6;
    }
}
@media only screen and (min-width: 1000px){
    .row{
        @apply .px-10;
    }
}
